<h2>Ironhack Spotify</h2>
<form action="/artist-search", method="GET">

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Your Search here</label>
    <input name="myArtist" type="text" class="form-control" id="exampleInputEmail1">
  </div>

  <button type="submit" class="btn btn-primary">Search for an Artist</button>
</form>